bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

*.DotSettings.user
*.csproj.user
.vs/
.idea/config/applicationhost.config

.terraform/

# Structurizr workspace
.structurizr
docs/structurizr/workspace.json
